*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100%;
    background:#dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #50577A;
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #50577A;
    font-style: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
    margin-bottom: 7px;
}

@media only screen and (max-width: 1320px) {
    header{
        padding: 0 50px;
    }
}


@media only screen and (max-width: 1100px) {
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #50577A;
        margin: 6px 0;
    }

    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color:#dddddd;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active{
        margin-top: -50px;
        height: 375px;
    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
    .nav-bar.active ul{
        opacity: 1;
    }

}
.ballina{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .slider{
    margin-left: 10%;
  }
  
  .slider-container {
    border: 5px solid /*ngjyra*/;
    width: 60vw;
    margin: 0 auto;
    height: 10vh;
    max-width: 40rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 4rem;
  }
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
  }
  .slide-img {
    height: 100%;
    object-fit: cover;
  }
  
  .person-img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  
  .h1S{
    font-size: 48px;
    color: white;
    font-weight: bold;
    margin-top: 40%;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
  }
  
  .slide:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("images/lajmi1.png") center/cover no-repeat;
  }
  .slide:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("images/lajmi2.jpg") center/cover no-repeat;
  }
  .slide:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("images/lajmi3.jpg") center/cover no-repeat;
  }
  
  .slide:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("images/lajmi4.jpg") center/cover no-repeat;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
  }
  .prevBtn,
  .nextBtn {
    background: transparent;
    border-color: transparent;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
     /*ngjyra*/
    transition: all 0.3s linear;
  }
  .prevBtn:hover,
  .nextBtn:hover {
    color: grey /*ngjyra*/;
  }
  
  @media screen and (min-width: 576px) {
    .slider-container {
      height: 45vh;
    }
  }
  @media screen and (min-width: 768px) {
    .slider-container {
      height: 55vh;
    }
  }
  @media screen and (min-width: 992px) {
    .slider-container {
      height: 65vh;
    }
  }
  
  
  
  
  
  
  .leftH{
    margin-top: 60px;
    margin-bottom: -65px;
    margin-left: 70px;
  
  }
  
  .main-left {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 70%;
    height: 20%;
    margin-left: 10%;
    margin-top: 10%;
  }
  
  
  .mini-left {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5px;
    border: 1px solid gray ;
    border-radius: 2px; 
    cursor: pointer;
    background-color: rgba(129, 129, 129, 0.152); 
  }
  
  .mini-left:hover{
    background-color: rgba(163, 161, 161, 0.152);
  }
  
  
  .mini-image {
    width: 40%; 
    height: auto; 
    object-fit: cover; 
    margin: 0; 
  }
  
  
  .mini-text {
    width: 70%; 
    padding: 0 10px; 
  }
  
  
  .mini-text h2 {
    font-size: 24px; 
    margin-bottom: 1px; 
    margin-top: 4px;
  }
  
  
  .mini-text p {
    font-size: 16px; 
    line-height: 1.5; 
    margin-bottom: 3px;
    margin-top: -3px; 
  }
  
  
  .mini-text h3 {
    font-size: 10px; 
  }
  
